<accordion>
  <accordion-group #group>
    <div accordion-heading>
      白羊座
      <i class="pull-right float-xs-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    <img src="../../assets/images/baiyang.jpg" alt="">
    <span>白羊座（Aries），黄道十二星座之第一宫，位于双鱼座之东，金牛座之西</span>
  </accordion-group>

  <accordion-group *ngFor="let zd of zodiacData;" heading="{{zd.headring}}">
    <img src="{{zd.url}}" alt="">
    <span>{{zd.desc}}</span>
  </accordion-group>
</accordion>
