<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/tianping.jpg" alt="...">
      <div class="caption">
        <h3>天平座</h3>
        <p>天秤座（又称天平座），Libra，位于处女座之东，天蝎座之西，是黄道十二宫的第七宫</p>
        <p><a  class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/tianxie.jpg" alt="...">
      <div class="caption">
        <h3>天蝎座</h3>
        <p>天蝎座（Scorpio）。是十二星座之黄道第八宫，位于天秤座之东，射手座之西。</p>
        <p><a  class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/sheshou.jpg" alt="...">
      <div class="caption">
        <h3>射手座</h3>
        <p>射手座（人马座），黄道十二宫之第九宫，位于天蝎座之东，摩羯座之西。</p>
        <p><a  class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<app-accordion></app-accordion>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/mojie.jpg" alt="...">
      <div class="caption">
        <h3>摩羯座</h3>
        <p>摩羯座（Capricornus），黄道十二宫的第十宫，位于射手座之东，水瓶座之西。摩羯座是象征着冬天开始的星座。</p>
        <p><a  class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/shuiping.jpg" alt="...">
      <div class="caption">
        <h3>水瓶座</h3>
        <p>水瓶座(Aquarius),黄道星座之第十一宫,在摩羯座之东,双鱼座之西。</p>
        <p><a  class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../../assets/images/shuangyu.jpg" alt="...">
      <div class="caption">
        <h3>双鱼座</h3>
        <p>双鱼座（Pisces），黄道星座之第十二宫，位于水瓶座之东，白羊座之西。</p>
        <p><a  class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
